#about-block {
    padding: 80px 0;

    .about {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -15px;

        &__advant {
            width: calc((100%/12)*5);
            padding: 0 15px;
        }
        &__desc {
            width: calc((100%/12)*7);
            padding: 0 15px;
        }
        &__advantages {
            display: grid;
            grid-template-columns: repeat(2, auto);
            margin-bottom: 25px;
    
        }
    }
    .item {

        &__count {
            position: relative;
            margin-bottom: 12px;
            padding-left: 15px;
            font-weight: 700;
            font-size: 48px;
            line-height: 121%;
            color: #333333;

            &::before {
                content: "";
                position: absolute;
                z-index: -1;
                top: 0;
                left: 0;
                width: 62px;
                height: 62px;
                background-color: #F59D16;
                border-radius: 50%;
            }
        }
        &__text {
            font-weight: 700;
            font-size: 20px;
            line-height: 150%;
            color: #333333;
        }
    }
}
#about-block {
    @media (max-width: 1120px) {
        .about {
            &__advant {
                width: 100%;
                display: flex;
                justify-content: space-between;
            }
            &__desc {
                width: 100%;
            }
            &__advantages {
                max-width: 490px;
            }
        }
        .item {
            max-width: 240px;
        }
    }
    @media (max-width: 645px) {
        .about {
            &__advant {
                flex-direction: column;

                .btn {
                    margin-bottom: 40px;
                    align-self: center;
                }
            }
            &__advantages {
                margin-bottom: 15px;
            }
        }
    }
    @media (max-width: 430px) {
        .item {
            &__text {
                font-size: 16px;
            }
            &__count {
                font-size: 36px;
                &::before {
                    width: 47px;
                    height: 47px;
                }
            }
        }
    }
}